<h2 class="mat-h1">
  Michigan Research and Discovery Scholars
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Resident living community for undergraduates seeking research opportunities as a first-year student
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Second-Year Peer Advisor
    </h3>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      First-Year Student Resident
    </h3>
  </mat-list-item>
</div>
