<h2 class="mat-h1">
  Michigan Research and Discovery Scholars
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Resident living community for undergraduates seeking research opportunities as a first-year student
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Second-Year Peer Advisor
    </h3>
    <p mat-line>
      <span>
        After my positive experience my freshman year i decided to become a Peer Advisor for the program and lead the
        Ethics group to expand not only my perspective but also of the students I would be advising.
      </span>
    </p>
    <p mat-line>
      <span>
        Under this role I mentored a group of 10 students throughout the research process, notably to acquire
        undergraduate research contracts through Undergraduate Research Opportunity Program (UROP) and create a
        poster for the MRADS Symposium.
      </span>
    </p>
    <p mat-line>
      <span>
        Introduced students to the the interdisciplinary nature of research by facilitating a series of seminars with
        alumni and professors; structuring a curriculum for teaching students about Ethics in Real World Contexts.
        My goal for my students was to educate them about how ethics is applicable to almost any field study.
      </span>
    </p>
    <p mat-line>
      <span>
        I also provided students with individualized guidance and assistance throughout the school year ensuring they
        had a support system for academic and personal success.
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      First-Year Student Resident
    </h3>
    <p mat-line>
      <span>
        My freshman year I was part of this resident affiliate program to acquire research opportunities as an
        undergraduate.
      </span>
    </p>
    <p mat-line>
      <span>
        As a first year I would attend alumni and research seminars as a part of the technology group and
        learned about big data, reinforcement and deep learning.
      </span>
    </p>
    <p mat-line>
      <span>
        Ultimately my positive experience in the program led me to want to become an advisor for first year students
        my sophomore year and lead the Ethics group.
      </span>
    </p>
  </mat-list-item>
</div>
