<h2 class="mat-h1">
</h2>
<div class="general-description">
  <p class="mat-body-1">
  </p>
  <mat-divider></mat-divider>
</div>
<mat-accordion multi="true" >
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      The problem of Perception
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          The problem of Perception
        </h3>
      </mat-list-item>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>

    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Learning
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Learning in humans
        </h3>
        <p mat-line>
      <span>
      </span>
        </p>
        <p mat-line>
      <span>
      </span>
        </p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Reinforcement Learning
        </h3>
      </mat-list-item>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <p mat-line>
    <span>
    </span>
      </p>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Deep Learning
        </h3>
        <p mat-line>
      <span>
      </span>
        </p>
        <p mat-line>
      <span>
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Decision Making
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Means Analysis
        </h3>
        <p mat-line>
      <span>
      </span>
        </p>
        <p mat-line>
      <span>
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Emotion
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Emotion
        </h3>
        <p mat-line>
      <span>
      </span>
        </p>
        <p mat-line>
      <span>
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<div>






</div>
