<h2 class="mat-h1">
  I am interested in non-traditional use cases of Machine Learning. Here are some applications of Artificial Intelligence
  that have sparked my interest.
</h2>
<div class="general-description">
  <p class="mat-body-1">
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Perception, Design and Art
    </h3>
  </mat-list-item>
  <p mat-line>
    <span>
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Recommendations
    </h3>
    <p mat-line>
      <span>
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Business Optimization & Financial Technology
    </h3>
    <p mat-line>
      <span>
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Use in Research - not just Computer Science Research
    </h3>
    <p mat-line>
      <span>
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
</div>
