<img class="background" src="../../../assets/hobbies-interests-background.svg">
<div class="page-container">
  <h2 class="mat-display-4" [style.font-size.px]="52" [style.margin-bottom.px]="6">Interests</h2>
  <mat-tab-group color="accent" backgroundColor="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        AI Applications
      </ng-template>
      <div class="hobbies">
        <app-interest-ai-applications></app-interest-ai-applications>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        AI Approaches
      </ng-template>
      <div class="interests">
        <app-interest-ai-approaches></app-interest-ai-approaches>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Computational Cognition
      </ng-template>
      <div class="interests">
        <app-interest-computational-cognition></app-interest-computational-cognition>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
