.about{
  padding-left: 2%;
}
.background{
  position: absolute;
  object-fit: cover;
  -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 25%;
  z-index: -2;
}

.about-me-page{
  align-content: center;
}

header{
  float: none;
}

header .about-header{
  text-align: center;
}

.main{
  padding-left: 2%;
  width:98%;
}

.content{
  text-align: center;
}



.fact-container .facts:not(.highlight-card):hover{
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.button-container{
  padding-top: 5%;
}

.additional{
  width:98%;
  align-items: center;
  align-content: center;
}

.arrows{
  width:50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
