<h2 class="mat-h1">
  Intern for QL Technology Division
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Worked from May to August 2019
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Developed full-stack web application - SNAP
    </h3>
  </mat-list-item>
  <p mat-line>
    <span>
      Worked alongside three other interns to develop the application. Handled business requests and
      product design entirely on our own. Application followed Service Oriented Architecture (SOA) and met company
      standards for encrypting sensitive data.
      Created Features, User Stories, and planned Sprint Cycles following Agile Planning Guidelines.
      Held three demos of the application with individual teams, senior developers, and team leaders.
    </span>
  </p>
  <p mat-line>
    <span>
      Technologies used for application: Docker, Angular Framework (Typescript, CSS, HTML, Angular JS & CLI),
      and .NET Framework (C#, .NET & .NET Core)
    </span>
  </p>
  <p mat-line>
    <span>
      Additional Skills Learned: Product design, Agile, CI/CD (Continuous Integration/ Continuous Development with
      CircleCI), Salesforce Platform (Lightening Components, Automated workflow, APEX and SOQL)
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <mat-list-item role="listitem">
    <h3 mat-line>
    </h3>
    <p mat-line>
      <span>
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
    </h3>
    <p mat-line>
      <span>
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
</div>
