<h2 class="mat-h1">
  Cypress Bay High School - Class of 2018
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Top 5% of Class of 1200 Students, over 1000 hours of Community Service and 44 College Credits completed
  </p>
  <img class="cbhs-logo" src="../../../../assets/cbhs.png">
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <!--img mat-list-avatar src="..." alt="Relative Coursework"-->
    <h3 mat-line >Relevant Coursework</h3>
    <p class="mat-caption"> Hover over a class to learn more </p>
    <h4 mat-line>Cambridge Assessment International Education Courses - AICE</h4>
    <p mat-line>
      <span class="mat-body-1 internal" matTooltip="Computer Science and Introduction to Computer Architecture
      (JAVA & Python)">
        AICE Computer Science AS & A Level,
      </span>
      <span class="mat-body-1 internal" matTooltip="College Level writing focused on integrating
      current events into papers">
        AICE General Paper AS Level,
      </span>
      <span class="mat-body-1 internal" matTooltip="College Level Spanish course focused on integrating current events
      of hispanic countries into speech and writing">
        AICE Spanish AS Level
      </span>
    </p>
    <h4 mat-line >Advanced Placement College Board Courses - AP</h4>
    <p mat-line>
      <span class="mat-body-1 internal" matTooltip="Calculus 1 Curriculum">
        AP Calculus AB,
      </span>
      <span class="mat-body-1 internal" matTooltip="Calculus 2 Curriculum">
        AP Calculus BC,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level course about Governments across the Globe:
      United Kingdom, Nigeria, China, Russia, Iran, Mexico">
        AP Comparative Government,
      </span>
      <span class="mat-body-1 internal" matTooltip="Computer Science at an introductory college level (JAVA)">
        AP Computer Science A,
      </span>
      <span class="mat-body-1 internal" matTooltip="Computer Science introductory course focused on
      design practices and applications (JAVA)">
        AP Computer Science Principles,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level course about European History from Medieval times to the 21st Century">
        AP European History,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level writing course focused on nonfiction articles and arguments">
        AP Language and Composition,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level writing course focused on fiction literature and analysis">
        AP Literature and Composition,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level course about macroeconmics">
        AP Macroeconomics,
        </span>
      <span class="mat-body-1 internal" matTooltip="College level course about microeconomics">
        AP Microeconomics,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level Algebra based mechanics physics course">
        AP Physics 1,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level Calculus based electricity and magnetism physics course">
        AP Physics C: E&M,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level Calculus based mechanics physics course ">
        AP Physics C: ME,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level Spanish course focused on speech, writing and culture">
        AP Spanish,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level course about the history of the United States from
      its establishment to the 21st Century">
        AP United States History,
      </span>
      <span class="mat-body-1 internal" matTooltip="College level course about the government of the United States">
        AP United States Government
      </span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h3 mat-line> Computer Science Club Competitions</h3>
    <p mat-line>
      <span class="mat-body-1 internal">
        Palm Beach County Computer Science Competition 3rd place
      </span>
    </p>
    <p mat-line>
      <span class="mat-body-1 internal">
        Yearly FHSPS (Florida High School Programming Series) Participant
      </span>
    </p>
    <p mat-line>
      <span class="mat-body-1 internal">
        Yearly Master the Mainframe IBM Competition Participant - Part 1 early finisher all four years
      </span>
    </p>
  </mat-list-item>
</div>
