<h2 class="mat-h1">
  Cypress Bay High School - Class of 2018
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Top 5% of Class of 1200 Students, over 1000 hours of Community Service and 44 College Credits completed
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <!--img mat-list-avatar src="..." alt="Relative Coursework"-->
    <h3 mat-line >Relevant Coursework</h3>
    <p class="mat-caption"> Hover over a class to learn more </p>
    <h4 mat-line>Cambridge Assessment International Education Courses - AICE</h4>
    <p mat-line>
        <span class="mat-body-1 internal" matTooltip="Introduction to Computer Science (C++ & Python)">
          AICE Computer Science AS & A Level,
        </span>
      <span class="mat-body-1 internal" matTooltip="Discrete Math">
          AICE Spanish AS Level,
        </span>
      <span class="mat-body-1 internal" matTooltip="Data Structures and Algorithms (C++)">
          AICE General Paper AS Level,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Computer Architecture (C)">
          ,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Cognitive Science">
          COGSCI 200,
        </span>
      <span class="mat-body-1 internal" matTooltip="Cognitive Psychology">
          PSYCH 240,
        </span>
      <span class="mat-body-1 internal" matTooltip="Philosophy Mind and Machines">
          PHIL 340
        </span>
    </p>
    <h4 mat-line >Advanced Placement College Board Courses - AP</h4>
    <p mat-line>
        <span class="mat-body-1 internal" matTooltip="Introduction to Computer Science (C++ & Python)">
          AP Computer Science A,
        </span>
      <span class="mat-body-1 internal" matTooltip="Discrete Math">
          AP Computer Science Principles,
        </span>
      <span class="mat-body-1 internal" matTooltip="Data Structures and Algorithms (C++)">
          AP Spanish,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Computer Architecture (C)">
          AP Physics 1,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Cognitive Science">
          AP Physics C: ME,
        </span>
      <span class="mat-body-1 internal" matTooltip="Cognitive Psychology">
          AP Physics C: E&M,
        </span>
      <span class="mat-body-1 internal" matTooltip="Philosophy Mind and Machines">
          AP European History,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Computer Science (C++ & Python)">
          AP Calculus AB,
        </span>
      <span class="mat-body-1 internal" matTooltip="Discrete Math">
          AP Calculus BC,
        </span>
      <span class="mat-body-1 internal" matTooltip="Data Structures and Algorithms (C++)">
          AP United States History,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Computer Architecture (C)">
          AP United States Government,
        </span>
      <span class="mat-body-1 internal" matTooltip="Introduction to Cognitive Science">
          AP Language and Composition,
        </span>
      <span class="mat-body-1 internal" matTooltip="Cognitive Psychology">
          AP Literature and Composition,
        </span>
      <span class="mat-body-1 internal" matTooltip="Philosophy Mind and Machines">
          AP Comparative Government,
        </span>
    </p>
  </mat-list-item>
</div>
