<img class="background" src="../../../assets/contact-page-background.svg">
<div class="contact-page">
  <mat-card-title class="mat-display-4" [style.font-size.px]="52" [style.margin-bottom.px]="0">Want to stay connected?</mat-card-title>
  <mat-list class="contact-links">
    <mat-list-item class="link">
      <div class="link-container">
        <a class="link-styling"  href="https://github.com/aisaav" >
          <img class="icon" src="../../../assets/GitHub-Mark-64px.png" [class.icon-color-flip]="updateImg"/>
        </a>
        <h2 class="mat-body-1" [style.margin-bottom.px]="0">
          Follow me on Github
        </h2>
      </div>
    </mat-list-item>
    <mat-list-item class="link">
      <div class="link-container">
        <a class="link-styling"  href="https://www.linkedin.com/in/aisaav/">
          <img class="li-icon" src="../../../assets/LI-In-Bug.png" [class.lighten-img-alot]="updateImg">
        </a>
        <h2 class="mat-body-1" [style.margin-bottom.px]="0">
          Connect with me on LinkedIn
        </h2>
      </div>
    </mat-list-item>
    <mat-list-item class="link">
      <div class="link-container"  [style.margin-bottom.px]="0">
        <a class="link-styling"  href="mailto:aisaav@umich.edu">
          <mat-icon color="accent" class="icon" [style.font-size.px]="28">email</mat-icon>
        </a>
        <h2 class="mat-body-1" [style.margin-bottom.px]="0">
          Email me
        </h2>
      </div>
  </mat-list-item>
    <mat-list-item class="link">
      <div class="link-container">
        <a class="link-styling" href="https://www.instagram.com/alex_saa/?hl=en" >
          <img class="ig-icon" src="../../../assets/IG_Glyph_Fill.svg" [class.lighten-img-slightly]="updateImg"/>
        </a>
        <h2 class="mat-body-1" [style.margin-bottom.px]="0">
          Follow me on Instagram
        </h2>
      </div>
    </mat-list-item>
    <mat-list-item class="link">
      <div class="link-container" [style.margin-bottom.px]="0">
        <a class="link-styling"  href="https://vsco.co/aisaavedra/gallery">
          <img class="icon" src="https://assets.vsco.co/assets/images/favicon.ico" [class.icon-color-flip]="updateImg"/>
        </a>
        <h2 class="mat-body-1" [style.margin-bottom.px]="0">
          Follow my work on VSCO
        </h2>
      </div>
    </mat-list-item>

  </mat-list>

  <h3 class="mat-display-4" [style.font-size.px]="24">
    Thank you for visiting I hope to stay in touch!
  </h3>
</div>
