.main{
  padding-left: 20px;
}

.main-page-image{
  height: auto;
  max-width: 100%;
  border-radius: 3px;
}

.card-container > *:not(.circle-link) ,
.terminal {
  width: 100%;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

footer {
  margin: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}


header{
  width: 98%;
  float: none;
}

header .profilePhoto {
  float: left;
  clear: both;
  max-width: 500px;
  margin-right: 3%;
}

header .profileHeader {
  text-align: left;
  margin-top: 3%;
}


header .terminal-cards{
  align-self: center;
  padding-right: 2%;
}

header .terminal-container{
  position: relative;
  display: table;
  width:100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}


.terminal {
  position:relative;
  display: flex;
  align-self: center;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 35px;
  margin-top: 8px;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}
.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.card-container {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.card {
  margin: 8px;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}



