<div class="general-description">
  <p class="mat-body-1">
    One of my favorite hobbies is art, I have been painting, sketching and designing since I was five years old.
    It is a form of creative expression and relaxation for me. I mostly enjoy painting objects with an abnormality
    about them, at first glance it looks like still-life, but at a closer glance the viewer notices something off
    about my art. Its intentional as I want to highlight the importance of perspective and analysis in my work.
    Having a background in art has definitely allowed me to be more creative when solving problems and making my
    work reflect creativity and elegance.
  </p>
  <mat-divider></mat-divider>
</div>
<mat-accordion multi="true" >
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Oil Painting
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Oil Panting
        </h3>
      </mat-list-item>
      <p mat-line>
    <span>
      I started oil painting in high school and find it one of my favorite mediums to work with,
      I have paintings ranging from 15in by 18in and 36in by 48in. </span>
      </p>
      <p mat-line>
    <span>
      Working with oil is definitely a more challenging medium and it takes more skill to manipulate the paint.
      I usually begin with a brown wash where I use cloth to quickly determine the brightness of different
      parts of my painting to create a roadmap for the work. I see this similar to test driven development in my
      programming where you have to consider the project as a whole before working on the details of implementation.
    </span>
      </p>
      <p mat-line>
    <span>
      Hover over a painting to learn more!
    </span>
      </p>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Acrylic Painting
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Acrylic Painting
        </h3>
        <p mat-line>
      <span>
        I mostly worked with acrylic during my middle school years and part of high school,
        its an easy to access medium to work with. I enjoy using acrylic for paintings I want to complete at a
        faster pace since it dries fairly fast.
      </span>
        </p>
        <p mat-line>
      <span>
        Hover over a painting to learn more!
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Charcoal and Sketches
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Charcoal and Sketches
        </h3>
        <p mat-line>
      <span>
        I usually work with charcoal and pencil sketching when I dont have access to paint or want to get an idea
        quickly on paper. Learning how to sketch and adapt to a more detailed piece of work lets me relax and
        express my ideas on paper. Sometimes after a busy week I go to a local park or quiet space and sketch away.
      </span>
        </p>
        <p mat-line>
      <span>
        Hover over a painting to learn more!
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      Watercolor Painting
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list-item role="listitem">
        <h3 mat-line>
          Watercolor Painting
        </h3>
        <p mat-line>
      <span>
        As a college student its usually not as easy to purchase materials for oil painting or acrylic,
        and finding a space to work and let my paintings dry is not as easy. Recently I took a watercolor
        course to learn more and I absolutely enjoyed it. Now if I ever feel the desire to work with a
        paint brush, watercolor is an easy medium to use and work with while at school.
      </span>
        </p>
        <p mat-line>
      <span>
        Hover over a painting to learn more!
      </span>
        </p>
      </mat-list-item>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<div>




</div>

