<h2 class="mat-h1">
  Machine Learning of Time-Series Data for Biological Research
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Worked with Professor Adam Iliff in the Life Sciences Institute (LSI)
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Background to Project
    </h3>
    <mat-card-subtitle mat-line>Genetic algorithms</mat-card-subtitle>
    <p mat-line>
      <span>
        A form of supervised machine learning.
        An optimal solution is produced through controlled natural selection, this approach is useful in exploring
        multiple possible outcomes.
      </span>
    </p>
    <mat-card-subtitle mat-line>Caenorhabditis elegans (C. elegans)</mat-card-subtitle>
    <p mat-line>
      <span>
        A type of worm, commonly used in biological research.
        Their primitive nature allows for the study of essential biological characteristics and basic behavior.
        Some characterizations of movement/observed behavior in C. elegans include omega bends,
        reversal movement, forward movement and resting.
      </span>
    </p>
    <mat-card-subtitle mat-line>Bayesian Probabilities</mat-card-subtitle>
    <p mat-line>
    <span>
      Provides a way to formalize both prior knowledge and how update beliefs on the basis of new evidence
      (what is learned). Bayesian inference provides a computational basis for updating uncertain beliefs based on
      uncertain data. Bayes Rule helps us use given probabilities and reverse engineer missing information.
      Motivation to use Bayesian Analysis is from human cognition specifically normative reasoning.
    </span>
    </p>
    <p mat-line>
    <span>
      P(A|B) - the posterior probability, read as “the probability of A given B”
      <br>P(B|A) -  the likelihood, read as “the probability of B given A” or “the likelihood of observing B given A”
      <br>P(A) -  The Base rate, the probability of an event A
      <br>P(Ā) - probability of not A
      <br>Denominator usually referred to as normalizing term
    </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      My Contribution
    </h3>
  </mat-list-item>
  <p mat-line>
    <span>
      Developed a program that used Genetic Algorithms to determine movement of a C. Elegans, a primitive worm species,
      using solely head, abdomen and tail positional data. Programmed automatic read, run, and write capabilities
      so new data could be used and analyzed quickly.
      Researched usage of Bayesian Calculations in Fitness Function of the algorithm and concluded through
      implementation and subsequent testing that this method was insufficient for our model to
      make accurate predictions. See Poster for more information.
    </span>
  </p>
  <p mat-line>
    <span>
      Technologies used: Python (Libraries were used- Panda Arrays, Numpy, etc.), QuiverPlot
    </span>
  </p>
  <p mat-line>
    <span>
      Additional: Mass data analysis with Excel, Pycharm (JetBrain IDE), Documentation for non-technical users
    </span>
  </p>
  <p mat-line>
    <span>
    </span>
  </p>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Michigan Research and Discovery Scholars (MRADS) Symposium
    </h3>
    <p mat-line>
      <span>
        Presented findings and conclusions through a self-made scientific research poster to university faculty at the
        annual MRADS Spring Research Symposium for undergraduate research
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>

</div>
