<div class="general-description">
  <p class="mat-body-1">
    I am amazed by how music provides perspective and implicit teachings. Although I cannot play an instrument
    or write music lyrics, I admire all the work that goes into composing a piece and making a song tell a story.
    In my free time I like exploring new music and seeing how different genres have changed over time and how an
    artist expresses themselves.
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Listening to Music
    </h3>
    <p mat-line>
      <span>
        I listen to various genres of music to try and expand my horizons and hear stories from different perspectives.
        Some artists talk about society, others talk about personal growth and others just share about their
        journey. I find that listening to all these different stories helps me understand others and myself.
      </span>
    </p>
    <p mat-line>
      <span>
        Just as I try to understand the perspective of different music artists, I try to do the same with my peers and teammates.
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Concerts
    </h3>
    <p mat-line>
      <span>
        I also have gone to a lot of concerts and its one of my favorite ways to consume music,
        the atmosphere definitely makes the music sound special and heartfelt.
      </span>
    </p>
    <p mat-line>
      <span>
      </span>
    </p>
  </mat-list-item>
</div>
