<h2 class="mat-h1">
  SHPE
</h2>
<div class="general-description">
  <p class="mat-body-1">
    The goal of this chapter is to foster a sense of community among Hispanic engineering and applied sciences students
    at the University of Michigan and other SHPE student chapters. Core values are diversity, equity, inclusion,
    and familia.
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Vice President Internal
    </h3>
  </mat-list-item>
  <p mat-line>
    <span>
      Elected to be Vice President Internal for our chapter for the 2020-2021 school year.
      Under this role I am in charge of internal affairs of our chapter, notably our Academic, Community and Outreach
      Programs.
    </span>
    <span>
      I also oversee a LeaderSHPE Chair who leads the LeaderSHPE Program which helps give underclassmen an
      opportunity to grow their leadership skills.
    </span>
  </p>
  <p mat-line>
    <span>
      For our Academic logistics I oversee two Academic chairs where we host a number of programs to help foster
      academic success of our members. Some examples are Study Tables with SHPE Grad, Academic resource compilations,
      and mentorship programs.
    </span>


  </p>
  <p mat-line>
    <span>
      In terms of Outreach, I oversee an Outreach Chair where we plan events for community service and empowering hispanics in our area.
      Our biggest events are an annual <span class="mat-body-1 internal" matTooltip="Teach high school students about
      STEM and college life as a minority student through a mini project"> Noche de Sciencias </span> and
      <span class="mat-body-1 internal" matTooltip="I worked with the outreach chair to start hosting panels for
      incoming first-year and high school students to learn more about
      engineering and how SHPE can be a resource for their success in college"> Student Panels for Incoming First-year and High School Students.</span>
    </span>

  </p>
  <p mat-line>
    <span>
      An important part of my role is building community and a safe place for members to collaborate and grow
      toward each other's success. I plan social events to foster member bonding and express our Hispanic roots,
      such as Bachata con Horchata and Salsa con Salsa.
    </span>
  </p>
  <mat-list-item role="listitem">
    <h3 mat-line>
      LeaderSHPE Scholar
    </h3>
    <p mat-line>
      <span>
        As a sophomore I applied to be a part of the LeaderSHPE program, I was selected to be a part of the program
        alongside 6 other SHPE members.
        This program is focused on giving underclassmen an opportunity to to learn about all the internal
        logistics of the chapter to prepare us to be either a chair or board member in the future.
      </span>
    </p>
    <p mat-line>
      <span>
        During this time, we planned events such as Globalbonanza and Winter Bash.
        Our plans were shared with the core board and we used feedback and their resources to help make our plans a
        reality.
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      SHPE Jr. Treasurer
    </h3>
    <p mat-line>
      <span>
        Position I held for two years under the SHPE Jr. chapter at my high school.
        Ensured financial reports, reimbursements, invoices, project approvals, and purchase orders were completed
        correctly and on time.
        Our chapter reported to the
        University of Florida's SHPE chapter (region 6).
      </span>
    </p>
    <p mat-line>

    </p>
  </mat-list-item>
</div>
