<h2 class="mat-h1">
  The Society of Hispanic Professional Engineers
</h2>
<div class="general-description">
  <p class="mat-body-1">
    A group dedicated to the success of Latinx Students in STEM Education, Careers and Beyond
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Vice President Internal
    </h3>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      LeaderSHPE Scholar
    </h3>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      SHPE Jr. Treasurer
    </h3>
  </mat-list-item>
</div>
