<h2 class="mat-h1">
  The Society of Hispanic Professional Engineers
</h2>
<div class="general-description">
  <p class="mat-body-1">
    The goal of this chapter is to foster a sense of community among Hispanic engineering and applied sciences students
    at the University of Michigan and other SHPE student chapters. Core values are diversity, equity, inclusion,
    and familia.
  </p>
  <mat-divider></mat-divider>
</div>
<div>
  <mat-list-item role="listitem">
    <h3 mat-line>
      Vice President Internal
    </h3>
  </mat-list-item>
  <p mat-line>
    <span>
      Elected to be Vice President Internal for our chapter for the 2020-2021 school year.
      Under this role I am in charge of internal affairs of our chapter, notably our Academic, Community and Outreach
      Programs for members.
    </span>
  </p>
  <p mat-line>
    <span>
      For our Academic logistics I oversee two Academic chairs where we host a number of programs to help foster
      academic success of our members. Some examples are Study Tables with SHPE Grad, Academic resource compilations,
      and mentorship programs.
    </span>
  </p>
  <p mat-line>
    <span>
      In terms of Outreach I oversee an Outreach Chair where we plan events for community service such as volunteering
      at local high schools and non profit organizations in our area. We also host an annual Noche de Sciencias where
      we teach high school students about STEM and college life as a minority student.
      I also worked with the outreach chair to start hosting panels for incoming students to learn more about
      engineering and how SHPE can be a resource for their success in college.
    </span>
  </p>
  <p mat-line>
    <span>
      An important part of my role is building community and a safe place for members to collaborate and grow
      toward each other's success. I plan social events to foster member bonding and express our Hispanic roots,
      such as Bachata con Horchata and Salsa con Salsa.
      I also oversee a LeaderSHPE Chair which helps give underclassmen an opportunity to grow their leadership skills.
    </span>
  </p>
  <p mat-line>
    <span>
      I also assist with writing an NRP each semester for our chapter to report our progress to our SHPE region
      (region 7).
    </span>
  </p>
  <mat-list-item role="listitem">
    <h3 mat-line>
      LeaderSHPE Scholar
    </h3>
    <p mat-line>
      <span>
        As a sophomore I applied to be a part of the LeaderSHPE program, I was selected to be a part of the program
        alongside 6 other SHPE members.
        This program is focused on giving underclassmen an opportunity to grow their leadership skills and learn how
        to collaborate with each other as they grow their skills.
      </span>
    </p>
    <p mat-line>
      <span>
        During this time, we planned events such as Globalbonanza, Winter Bash and Noche de Sciencias.
        Our plans were shared with the core board and we used feedback and their resources to help make our plans a
        reality. Our group held complete ownership of our events and it allowed us to learn about all the internal
        logistics of the chapter to prepare us to be either a chair or board member in the future.
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 mat-line>
      SHPE Jr. Treasurer
    </h3>
    <p mat-line>
      <span>
        Position I held for two years under the SHPE Jr. chapter at my high school. Our chapter reported to the
        University of Florida's SHPE chapter (region 6).
      </span>
    </p>
    <p mat-line>
      <span>
        Ensured financial reports, reimbursements, invoices, project approvals, and purchase orders were completed
        correctly and on time.
      </span>
    </p>
  </mat-list-item>
</div>
