<img class="background" src="../../../assets/extracurriculars-background.svg"/>
<div class="page-container">
  <h2 class="mat-display-4" [style.font-size.px]="52" [style.margin-bottom.px]="6">Extracurriculars</h2>
    <mat-tab-group color="accent" backgroundColor="primary">
      <mat-tab>
        <ng-template mat-tab-label>
          Education
        </ng-template>
        <div class="education">
          <mat-accordion multi="true">
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                Undergraduate Education
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-education-umich></app-education-umich>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                High School Education
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-education-cbhs></app-education-cbhs>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Extracurriculars
        </ng-template>
        <div class="extracurriculars">
          <mat-accordion multi="true" >
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                SHPE
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-extracurricular-shpe></app-extracurricular-shpe>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                MRADS
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-extracurricular-mrads></app-extracurricular-mrads>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
