<h2 class="mat-h1">
  University of Michigan - Class of 2022
</h2>
<div class="general-description">
  <p class="mat-body-1">
    Undergraduate student in the school of Literature, Science and the Arts (LSA)
  </p>
  <mat-divider></mat-divider>
</div>
<div>
    <mat-list-item role="listitem">
      <!--img mat-list-avatar src="../../../../assets/logo-eecs-1.svg"-->
      <h3 mat-line>Bachelor of Science in Computer Science</h3>
      <p mat-line >
        <span class="mat-body-1 internal">Primary major in Computer Science, coursework involves general computational
          theory, machine learning coursework and skills for industry
          <br> Classes focus on teaching test driven development and proper coding practices.</span>
      </p>
       </mat-list-item>

    <mat-list-item role="listitem">
      <!--img mat-list-avatar src="..." alt="Cognitive Science"-->
      <h3 mat-line >Bachelor of Science in Cognitive Science with Emphasis on Computation</h3>
      <p mat-line>
        <span class="mat-body-1 internal" > Second major, coursework involves learning about computational theories deriving
          from computational functions in the brain.
          <br>Emphasis on computation gives context for how Computer Science and Cognitive Science
          bounce off each other to further understand the human brain and develop intelligent computation.</span>
      </p>
    </mat-list-item>
  <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <!--img mat-list-avatar src="..." alt="Relative Coursework"-->
      <h3 mat-line >Relevant Coursework</h3>
      <p class="mat-caption"> Hover over a class to learn more </p>
      <p mat-line>
        <span class="mat-body-1 internal" matTooltip="Introduction to Computer Science (C++ & Python)">
          EECS 183,
        </span>
        <span class="mat-body-1 internal" matTooltip="Discrete Math">
          EECS 203,
        </span>
        <span class="mat-body-1 internal" matTooltip="Data Structures and Algorithms (C++)">
          EECS 281,
        </span>
        <span class="mat-body-1 internal" matTooltip="Introduction to Computer Architecture (C)">
          EECS 370,
        </span>
        <span class="mat-body-1 internal" matTooltip="Introduction to Cognitive Science">
          COGSCI 200,
        </span>
        <span class="mat-body-1 internal" matTooltip="Cognitive Psychology">
          PSYCH 240,
        </span>
        <span class="mat-body-1 internal" matTooltip="Philosophy Mind and Machines">
          PHIL 340
        </span>
      </p>
    </mat-list-item>
</div>


