<img class="background" src="../../../assets/professional-background.svg"/>
<div class="page-container">

    <h2 class="mat-display-4" [style.font-size.px]="52" [style.margin-bottom.px]="6">Experience</h2>

  <mat-tab-group color="accent" >
    <mat-tab>
      <ng-template mat-tab-label>
        Industry Experience
      </ng-template>
      <div class="industry-experience">
        <mat-card>
          <mat-list>
            <mat-list-item>
              Current Software Engineer Intern at American Express
            </mat-list-item>
            <mat-list-item>
              Previous Software Engineer Intern at QuickenLoans
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Research Experience
      </ng-template>
      <div class="research-experience">
        <mat-card>
          <mat-list>
            <mat-list-item>
              Machine Learning for Biological Research
            </mat-list-item>
            <mat-list-item>
              Effects on Bootstrap Sampling
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Technical
      </ng-template>
      <div class="technical-skills">
        <mat-card>
          <mat-list>
            <mat-list-item>

            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>

