<img class="background" src="../../../assets/professional-background.svg"/>
<div class="page-container">

    <h2 class="mat-display-4" [style.font-size.px]="52" [style.margin-bottom.px]="6">Experience</h2>

  <mat-tab-group color="accent" backgroundColor="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        Industry
      </ng-template>
      <div class="industry-experience">
        <mat-accordion multi="true" >
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              Software Developer Intern at American Express
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-professional-amex></app-professional-amex>
            </ng-template>
          </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                Software Developer Intern at Quicken Loans
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-professional-quicken></app-professional-quicken>
              </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Research
      </ng-template>
      <div class="research-experience">
        <mat-accordion multi="true" >
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              Undergraduate Researcher - Machine Learning for Biological Research
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <app-professional-research-mrads></app-professional-research-mrads>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              Research Prior to Undergrad - Bootstrap Sampling for Determining Diffusivity
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-professional-quicken></app-professional-quicken>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Technical
      </ng-template>
      <div class="technical-skills">
        <mat-accordion multi="true" >
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              Skills
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-professional-technical-skills></app-professional-technical-skills>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              Projects and Setups
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-professional-technical-projects-and-setups></app-professional-technical-projects-and-setups>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>

