.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav{
  padding: 24px;
}
.icon{
  margin-left:auto;
}
.toolbar {
  position: fixed;
  z-index:2;
}
.pageName{
  position: relative;
  align-content: center;
  margin-left: 10px;
}
.secondHeader{
  position: relative;
  font-family: header-font;
}

